@import '@/assets/mixins.scss';

.pictureList {
    display: grid;
    grid-template-columns: 100%;
    gap:10px;
    padding: 10px 0;
}

@include Tablet{
    .pictureList {
        grid-template-columns: repeat(2, 1fr);
        flex-wrap: wrap;
    }
}

@include Laptop{
    .pictureList {
        grid-template-columns: repeat(3, 1fr);
        flex-wrap: wrap;
    }
}

@include Desktop{
    .pictureList {
        flex-wrap: wrap;
    }
}