@import '@/assets/variables.scss';

.cardPicture {
  width: 100%;
  background-color: #777777;
  position: relative;
  border-radius: 25px;
  overflow: hidden;
  padding-top: 73.21%;

  .picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .pictureInfo {
    background-color: rgba(255, 255, 255, 0.75);
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    padding: 5px 15px 10px;
    transform: translateY(-30px);
    transition: all 0.15s ease-out;

    .infoName {
      font-size: 18px;
      font-weight: 700;
      line-height: 20px;
      color: #000000;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .infoText {
      font-size: 13px;
      font-weight: 300;
      line-height: 20px;
      color: #000000;
      transition: all 0.15s ease-out;
      opacity: 0;

      .infoTitle {
        font-weight: 600;
      }
    }
  }

  &:hover .infoName {
    text-overflow: inherit;
    white-space: wrap;
  }

  &:hover .pictureInfo {
    transform: translateY(-100%);
  }

  &:hover .infoText {
    opacity: 1;
  }
}

@include Tablet {
  .cardPicture {
    padding-top: 73.24%;
  }
}

@include Laptop {
  .cardPicture {
    padding-top: 76.67%;
  }
}

@include Laptop {
  .cardPicture {
    padding-top: 76.39%;
  }
}
