.switchCheckbox {
  display: none;
}

.switchLabel {
  align-items: center;
  background: var(--text-primary-color);
  border-radius: var(--element-size);
  cursor: pointer;
  display: flex;
  position: relative;
  padding: calc(var(--element-size) * 0.1);
  transition: background-color 0.5s ease;
  justify-content: space-between;
  z-index: 1;
}