@import '@/assets/variables.scss';

.filterList {
  display: grid;
  grid-template-columns: 100%;
  gap: 5px;
  padding: 10px 0;
  align-items: center;
}

@include Tablet() {
  .filterList {
    grid-template-columns: repeat(4, calc(25% - 3.75px));
  }
}
