@import '@/assets/variables.scss';

.pictureList {
  display: grid;
  grid-template-columns: 100%;
  gap: 10px;
  padding: 10px 0;

  .titleList {
    color: var(--text-primary-color);
  }
}

@include Tablet {
  .pictureList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@include Laptop {
  .pictureList {
    grid-template-columns: repeat(3, 1fr);
  }
}
