@import '@/assets/mixins.scss';

:root {
  --background-color-primary: #ffffff;
  --background-color-secondary: #ffffff;
  --accent-color: #b3b3b3;
  --border-color: #b3b3b3;
  --text-primary-color: #000000;
  --element-size: 4rem;
  --el-hover: #ededed;
}

:root.darkTheme {
  --background-color-primary: #000000;
  --background-color-secondary: #0c0c0c;
  --accent-color: #4c4c4c;
  --border-color: #ffffff;
  --text-primary-color: #ffffff;
  --el-hover: #464646;
}
