@import '@/assets/mixins.scss';
@import '@/assets/fonts/fonts.scss';

:global(:root) {
  --background-color-primary: #ffffff;
  --background-color-secondary: #FFFFFF;
  --accent-color: #b3b3b3;
  --text-primary-color: #000000;
  --element-size: 4rem;
  --el-hover: #464646;
}

:global(:root.dark-theme) {
  --background-color-primary: #000000;
  --background-color-secondary: #0C0C0C;
  --accent-color: #ffffff;
  --text-primary-color: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 13px;
  font-family: "RobotoRegular";
}

html,
body {
  background-color: var(--background-color-primary);
  padding: 0;
  margin: 0;
}

/* Define styles for the root window with dark - mode preference */


p {
  color: var(--text-primary-color);
}

:global(.container) {
  margin: 0 20px;
}

@include Tablet() {
  :global(.container) {
    margin: 0 34px;
  }
}

@include Laptop() {
  :global(.container) {
    margin: 0 42px;
  }
}

@include Desktop() {
  :global(.container) {
    margin: 0 123px;
  }
}