@import '@/assets/variables.scss';

.pagination {
  border: none;
  display: flex;

  .button {
    background-color: var(--background-color-primary);
    color: var(--text-primary-color);
    padding: 5px 10px;
    border: 1px solid var(--text-primary-color);
    cursor: pointer;
    border-right: none;

    svg {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    &:hover {
      background-color: var(--el-hover);
    }

    &:first-of-type {
      border-radius: 7px 0 0 7px;
    }

    &:last-of-type {
      border: 1px solid var(--text-primary-color);
      border-radius: 0 7px 7px 0;
    }

    &:last-of-type svg {
      transform: rotate(180deg);
    }

    &:nth-last-child(2) svg {
      transform: rotate(180deg);
    }

    &.buttonDisabled {
      border: 1px solid var(--accent-color);
      color: var(--accent-color);
      border-right: none;

      &:hover {
        background-color: transparent;
      }

      &:last-of-type {
        border: 1px solid var(--accent-color);
      }

      svg path {
        fill: var(--accent-color);
      }
    }

    &.currentPage {
      background-color: var(--text-primary-color);
      color: var(--background-color-primary);
    }
  }
}
